<% include head %>
<div>
  我是博文
</div>
<div id="comments"></div>
  <script>
    window.commentConfig = {
      page: '/2019/6/21/ssblog',
      el: document.getElementById('comments')
    };
    (function() {
      var commentScript = document.createElement('script');
      commentScript.type = 'text/javascript';
      commentScript.async = true;
      commentScript.src = 'http://localhost:3000/js/comment.js';
      (document.getElementsByTagName('head')[0]||document.getElementsByName('body')[0]).appendChild(commentScript);
    })();
  </script>
<% include foot %>